<ion-view view-title="Basic Information" class="basic">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="profile-pic">
                    <img src="{{user.picture}}">
                </div><!--
                --><div class="profile-info">
                    <h2>{{user.name}}</h2>
                    <p>{{user.gender}}</p>
                    <p>{{user.age}} yrs</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card blood-type">
                    <div class="item">
                        <div class="title">BLOOD TYPE</div>
                        <p>{{user.blood.type}}</p>
                    </div>
                    <div class="item item-divider">
                        {{user.blood.subtype}}
                    </div>
                </div>
            </div>
            <div class="col">
            <div class="card allergies">
			<div class="item item-divider">
			    ALLERGIES
			<button class="add"></button>
			<i class="icon ion-plus-round"></i>
			</div>
            <div class="item">
                <ul>
        			<li ng-repeat="allergy in user.allergies">{{allergy.name}}
                        <span class="{{allergy.level}}"></span>
                    </li>
                </ul>
            </div>
            </div>
            </div>
        </div>
        <div class="row">
		<div class="col">
			<div class="card weight">
				<div class="row">
					<button class="add"></button>
					<i class="icon ion-plus-round"></i>
					<div class="col">
						<div class="title">WEIGHT</div>
						<div class="info">{{user.weight}}</div>
						<div class="unit">(kg)</div>
					</div>
					<div class="col">
							<div class="title">HEIGHT</div>
							<div class="info">{{user.height}}</div>
							<div class="unit">(m)</div>
					</div>
					<div class="col">
						<div class="title">BMI</div>
						<div class="info {{bmi.level}}">{{user.bmi.value}}</div>
						<div class="unit {{bmi.level}}">({{user.bmi.level | uppercase}})</div>
					</div>
				</div>
			</div>
		</div>
        </div>
    </ion-content>
</ion-view>
