<ion-view view-title="Basic Information" class="basic">
    <ion-content>
        <div class="row">
            <div class="col">
            	<div class="profile-pic">
                	<img src="img/profile.png">
                </div><!--
                --><div class="profile-info">
                	<h2>Susan Smith</h2>
                	<p>Female</p>	
                	<p>48 yrs</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">Blood Type</div>
            <div class="col">Allegies</div>
        </div>
    </ion-content>
</ion-view>
