<ion-view view-title="Basic Information" class="basic">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="profile-pic">
                    <img src="img/profile.png">
                </div><!--
                --><div class="profile-info">
                    <h2>Susan Smith</h2>
                    <p>Female</p>
                    <p>48 yrs</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card blood-type">
                    <div class="item">
                        <div class="title">BLOOD TYPE</div>
                        <p>AB</p>
                    </div>
                    <div class="item item-divider">
                        Rh Antigen +
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card allergies">
			<div class="item item-divider">
			    ALLERGIES
			<button class="add"></button>
			<i class="icon ion-plus-round"></i>
			</div>
                    <div class="item">
                        <ul>
				<li>Cefditoren <span class="low"></span></li>
				<li>Shellfish <span class="medium"></span></li>
				<li>Penicillin <span class="high"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
		<div class="col">
			<div class="card weight">
				<div class="row">
					<button class="add"></button>
					<i class="icon ion-plus-round"></i>
					<div class="col">
						<div class="title">WEIGHT</div>
						<div class="info">57</div>
						<div class="unit">(kg)</div>
					</div>
					<div class="col">
							<div class="title">HEIGHT</div>
							<div class="info">1.65</div>
							<div class="unit">(m)</div>
					</div>
					<div class="col">
						<div class="title">BMI</div>
						<div class="info normal">20.93</div>
						<div class="unit normal">(kg/m<span style="">2</span>)</div>
					</div>
				</div>
			</div>
		</div>
        </div>
    </ion-content>
</ion-view>
