<ion-view view-title="Immunization" class="immunization">
    <ion-content>
        <h3>Immunized</h3>
        <ul class="immune-list">
            <li>
                <div class="title">Tetanus, diphtheria, pertussis</div>
                <div class="description">October 24, 2012</div>
            </li>
            <li>
                <div class="title">Hepetitis B</div>
                <div class="description">January 13, 2008</div>
            </li>
        </ul>
        <h3>Recommended</h3>
        <ul class="immune-list">
            <li>
              <div class="title">Flu vaccine</div>
              <div class="description">Once per year</div>
            </li>
            <li>
              <div class="title">MMR (Measles, mumps, rubella)</div>
              <div class="description">If have not received yet</div>
            </li>
            <li>
              <div class="title">Chickenpox (Varicella )</div>
              <div class="description">If have not received yet</div>
            </li>
        </ul>
        <div class="new">
            <div class="new-button"><i class="icon ion-plus-round"></i></div>
            <p>Add New Immunization</p>
        </div>
    </ion-content>
</ion-view>
