<ion-view view-title="Medications" class="medication">
    <ion-content>
        <div class="new" ng-click="showAddForm = true" ng-class="{ blow: showAddForm }">
            <div class="new-button"><i class="icon ion-plus-round"></i></div>
            <p>Add New Medication</p>
        </div>
        <form class="add-form" ng-show="showAddForm">
            <h2 class="top">ADD NEW</h2>
            <h2>MEDICATION</h2>
            <label>Medicine Name
		<input type="text" ng-model="medicineName">
		<div class="result" ng-show="medicine">{{ medicine }}</div>
		<ul ng-show="medicineName" ng-class="{ hide: medicine }">
			<li ng-repeat="med in medicineList | filter: medicineName" on-touch="selectMedicine(med)">{{ med }}</li>
		</ul>

            </label>
        </form>
    </ion-content>
</ion-view>
