<ion-view view-title="Medications" class="medication">
    <ion-content>
    	<ul class="med-list">
    		<li ng-repeat="drug in medications">
    			<div class="title">{{drug.name}}</div>
    			<div class="description">{{drug.dosage}}</div>
    			<div class="time">{{drug.frequency}}</div>
    		</li>
    	</ul>
        <div class="new" ng-click="showAddForm = true" ng-class="{ blow: showAddForm }">
            <div class="new-button"><i class="icon ion-plus-round"></i></div>
            <p>Add New Medication</p>
        </div>
        <form class="add-form" ng-show="showAddForm">
            <h2 class="top">ADD NEW</h2>
            <h2>MEDICATION</h2>
            <label>Medicine Name
                <input type="text" ng-model="medicineName" ng-hide="medicine">
                <div class="result" ng-class="{ show: medicine }" ng-show="medicine">{{ medicine }}</div>
                <ul ng-show="medicineName" ng-class="{ hide: medicine }">
                    <li ng-repeat="med in medicineList | filter: medicineName" on-touch="selectMedicine(med)">{{ med }}</li>
                </ul>
            </label>
            <div class="row" ng-show="medicine">
	            <div class="col">
	            	<label>Dosage
	            		<input type="number" ng-model="dosage" class="dosage">
	            	</label>
	            </div>
	            <div class="col">
	            	<label>Frequency
						<select ng-model="frequency">
							<option value=""></option>
							<option value="Before Meal">Before Meal</option>
							<option value="After Meal">After Meal</option>
							<option value="Once Daily">Once Daily</option>
							<option value="Twice Daily">Twice Daily</option>
							<option value="Morning">Morning</option>
							<option value="Evening">Evening</option>
						</select>
	            	</label>
	            </div>
            </div>
            <div class="row">
            	<button class="button" ng-click="addMedicine(dosage, frequency); showAddForm=false;">Add</button>
            	<button class="button" ng-click="showAddForm = false;">Cancel</button>
            </div>
        </form>
    </ion-content>
</ion-view>
