<ion-view view-title="<img src='img/logo2.png' class='logo'><span class='header-title'>HealthPassport</span>" class="dashboard">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="card" ui-sref="tab.basic">
          <div class="item item-basic">
            <i class="icon flaticon-man412"></i>
            <p>Basic Info</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" ui-sref="tab.medication">
          <div class="item item-medication">
            <i class="icon flaticon-pill"></i>
            <p>Medication</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" ui-sref="tab.immunization">
          <div class="item item-immunization">
            <i class="icon flaticon-injection5"></i>
            <p>Immunization</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" ui-sref="tab.reports">
          <div class="item item-reports">
            <i class="icon flaticon-medical99"></i>
            <p>Lab Reports</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" ui-sref="tab.medical-history">
          <div class="item">
            <i class="icon ion-ios-clock"></i>
            <p>Medical History</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item">
            <i class="icon flaticon-healthclinic2"></i>
            <p>Live Health</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>