<ion-view view-title="HealthPassport">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="item item-icon-left">
            <i class="icon ion-home"></i>
            Basic Info
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-icon-left">
            <i class="icon ion-home"></i>
            Medication
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="item item-icon-left">
            <i class="icon ion-home"></i>
            Immunization
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-icon-left">
            <i class="icon ion-home"></i>
            Lab Reports
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="item item-icon-left">
            <i class="icon ion-home"></i>
            Medical History
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-icon-left">
            <i class="icon ion-home"></i>
            Live Health
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>