<ion-view view-title="<img src='img/logo2.png' class='logo'><span class='header-title'>HealthPass</span>" class="account">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="account in accounts" type="item-text-wrap" ng-click="switchTo(account.id)" ng-class="{ active: account.id === currentUser }">
        <img ng-src="{{account.picture}}">
        <h2 class="account-name">{{account.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(account)">
          Delete
        </ion-option-button>
      </ion-item>
      <div class="new">
          <div class="new-button"><i class="icon ion-plus-round"></i></div>
          <p>Add New Account</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
