.medication {
	background: -webkit-linear-gradient(135deg, #24C6DC 30%, #514A9D 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(135deg, #24C6DC 30%, #514A9D 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(135deg, #24C6DC 30%, #514A9D 90%); /* IE10 */
	background:      -o-linear-gradient(135deg, #24C6DC 30%, #514A9D 90%); /* Opera 11.10+ */
	background:         linear-gradient(135deg, #24C6DC 30%, #514A9D 90%); /* W3C */
	
	.med-list {
		li {
			position: relative;
			color: white;
			padding: 15px 20px;
			background: rgba(108, 214, 228, 0.5);

			.title {
				font-size: 20px;	
			}

			.time {
				position: absolute;
				top: 0;
				right: 0;
				width: 70px;
				height: 70px;
				background: rgba(108, 214, 228, 0.51);
				text-align: center;
				padding-top: 24px;
				font-size: 16px;
			}

			&:nth-child(2n) {
				background: rgba(36, 198, 219, 0.62);
			}
		}
	}
	.add-form {
		position: absolute;
		top: 0;
		width: 100%;
		padding: 20px 70px;
		z-index: 1;

		h2 {
			text-align: center;
			color: #3694C3;
			&.top {
				font-size: 14px;
			}
			font-size: 20px;
			font-weight: 300;
			margin: 0;

			& + h2 {
				margin-bottom: 20px;
			}
		}

		.col {
			input {
				width: 80px;
			}
			select {
				padding: 5px 10px;
				font-size: 20px;
				-webkit-appearance: none;
				border: none;
				background: none;
				border-bottom: 2px solid #3694C3;
			}
		}
		label {
			color: #3694C3;
			position: relative;
			display: block;
			margin-bottom: 20px;

			.result {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 34px;
				padding: 5px 10px 5px 0;
				background: none;
				line-height: 1.5;
				font-size: 20px;
				color: #444;
				border-bottom: 2px solid #3694C3;

				&.show {
					position: static;
				}
			}
		}
		input {
			width: 100%;
			background: none;
			padding: 5px 10px 5px 0;
			margin-top: 5px;
			font-size: 20px;
			color: #444;
			border-bottom: 2px solid #3694C3;
		}
		.button {
			width: 100%;
			border: none;
			&:first-child {
				color: white;
				background: #3694C3;
			}
		}
		ul {
			&.hide {
				display: none;
			}
			height: 200px;
			overflow: scroll;

			li {
				background: white;
				padding: 10px;
				border-top: 1px solid #eee;
				opacity: 0.8;
				&:hover {
					background: #fafafa;
				}
			}
		}
	}
	.new {
		text-align: center;
		margin-top: 20px;
		color: white;
		cursor: pointer;

		.new-button {
			margin: 0 auto;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			background: white;
			padding-top: 10px;
			margin-bottom: 10px;
			transition: transform 0.3s;

			i {
				font-size: 30px;
				color: #24C6DC;
			}
		}

		&.blow {
			.new-button {
				transform: scale(40);
				opacity: 0.95;

				i {
					display: none;
				}
			}
			p {
				display: none;
			}
		}
	}
}